crawling/naver/imgs
crawling/naver/total_img
crawling/daum/imgs
crawling/daum/total_img
crawling/laftel/total_img
/src/colab/thumbnail_classify_keras/img_to_nparray
/src/colab/thumbnail_classify_keras/model
total_img/
.DS_Store
crawling/.DS_Store
crawling/naver/.DS_Store
*.ipynb_checkpoints
